/*http://paletton.com/#uid=43i0u0kmtw0cJN0i9DyrwtStZnz*/
@font-face {
    font-family: 'colaborate-thinregular';
    src: url('../fonts/ColabThi-webfont.eot');
    src: url('../fonts/ColabThi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ColabThi-webfont.woff') format('woff'),
         url('../fonts/ColabThi-webfont.ttf') format('truetype'),
         url('../fonts/ColabThi-webfont.svg#colaborate-thinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
	top:0%;
	left:0%;
}

body{
	background-color:rgb(255, 195, 76);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	 
}

h1 {
	font-family: "colaborate-thinregular", sans-serif;
	color:white;
	font-size:60px;
}

#Title {
	position: fixed;
	z-index: 1;
}

.skinny {
	position: fixed;
	z-index: 1;
	width:1400px;	
}

.bones {
	background-color:rgba(0,0,0,0.2);
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto; 
}
.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--1 {
  transform: translateZ(-0.8px) scale(1.8);
}
.parallax__layer--2 {
  transform: translateZ(-0.6px) scale(1.6);
}
.parallax__layer--3 {
  transform: translateZ(-0.3px) scale(1.3);
}
.parallax__layer--4 {
  transform: translateZ(-0.2px) scale(1.2);
}
.parallax__layer--5 {
  transform: translateZ(0px) scale(1);
}

.scene {
	height:2150px;
}

.sky {
	background: url(../images/Sky.jpg) 50% 0  no-repeat;
	height:1000px;
}

.mountains {
	background: url(../images/Mountains2.png) 50% 0  no-repeat;
	height:1000px;
	
}

.hills {
	background: url(../images/Hills2.png) 50% 0  no-repeat;
	height:1400px;
}

.flowers {
	background: url(../images/BackFlowers2.png) 50% 0  no-repeat;
	height:1500px;
}

.cubeFlowers {
	background: url(../images/CubeFlowers2.png) 50% 0  no-repeat;
	height:2150px;
}

.girl {
	background: url(../images/Girl2.png) 50% 0  no-repeat;
	height:2000px;
}

.frontCubes {
	background: url(../images/FrontCubes2.png) 50% 0  no-repeat;
	height:2000px;
}

@media (min-width: 1400px){
	.skinny {
		left: 50%;
		margin-left: -700px;
		z-index: 1;
		width: 1400px;
	}
	
	.info {
		width: 1400px;
	}
	
}

@media (max-width: 1400px){
	.info {
		width:100%;
	}
}
@media (max-width: 1100px){
	.mountains {
		background-position:0% 0%;
	}
	.girl {
		background-position:90% 20%;
	}
	.cubeFlowers {
		background-position:90% 20%;
	}
	.frontCubes {
		background-position:90% 20%;
	}
}
@media (max-width: 700px){
	.skinny {
		padding-top:40px;
	}
	
	.mountains {
		background-position:100% 5%;
	}
	
	.player {
		width:75%;
	}
}

@media (min-width: 700px){
	.player {
		width: 700px;
	}
	.skinny {
		padding-top:40px;
		padding-left:40px;
	}
	.replacementSkinny {
		padding-left:40px;
	}
}

.info {
	background-color:#FF6E6E;
	height: 1000px;
}

#noiseFloor {
	float: right;
}

.titleRight {
	text-align:right;
	opacity:0;
	transition: all 0.8s ease;
}

.replacementSkinny {
	z-index: 1;
	opacity:0;
}

.notHidden {
	opacity:1;
}
.playerRow {
	text-align: center;
	padding:100px 0px;
}
.player {
	border: 0;  
	height: 439px;
	float:none;
}