body{
	background-color:rgb(255, 228, 156);
}
.scene {
	margin: 0;
	height: 2155px;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	
   
}
.sky {
	background: url(../images/Sky.jpg) 50% 0  no-repeat;
	height:1400px;
	
}

.mountains {
	background: url(../images/Mountains2.png) 50% 0  no-repeat;
}

.hills {
	background: url(../images/Hills2.png) 50% 0  no-repeat;
}

.flowers {
	background: url(../images/BackFlowers2.png) 50% 0  no-repeat;
}

.cubeFlowers {
	background: url(../images/CubeFlowers2.png) 50% 0  no-repeat;
}

.girl {
	background: url(../images/Girl2.png) 50% 0  no-repeat;
}

.frontCubes {
	background: url(../images/FrontCubes2.png) 50% 0  no-repeat;
}